<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="../sass/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
</head>
<body >
    <h2 style="text-align: center; font-family: 'Vollkorn', serif;">Search Results</h2>
 


    <% if (searchChoice == "title") { %> 
        <% data.books.forEach(function(key) { %>
            <li><%= key.title %></li>
            <ul>
               <% key.authors.forEach(function(a) { %>
                      <li><%= a.name %></li>
                  <% }) %>
            </ul>
      <% }) %>  
    <% }else if(searchChoice == "author"){ %>
            <% data.authors.forEach(function(key) { %>
                <li><%= key.name %> </li>
            <% }) %> 
     <% }else if (searchChoice == 'isbn') {%>
            <% data.books.forEach(function(key) { %> 
                <li> <%=key.title %></li>
                <ul>
                    <% key.authors.forEach(function(a) { %>
                           <li><%= a.name %></li>
                       <% }) %>
                 </ul>
            <% }) %> 
        <% } %> 

</html>